clubService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.ttu.ee/idu0075/2015/ws/club"
                  targetNamespace="http://www.ttu.ee/idu0075/2015/ws/club">
    <wsdl:types>
        <xs:schema targetNamespace="http://www.ttu.ee/idu0075/2015/ws/club" elementFormDefault="qualified">
            
            <xs:simpleType name="trainingStyleType">
                <xs:restriction base="xs:string">
                    <xs:pattern value="strength|cardio|body&mind"/>
                </xs:restriction>
            </xs:simpleType>
            
            <xs:simpleType name="hasRelatedTrainingsType">
                <xs:restriction base="xs:string">
                    <xs:pattern value="yes|no"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:complexType name="trainingType">
                <xs:sequence>
                    <xs:element name="id" type="xs:integer"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="nameOfTheTrainer" type="xs:string"/>
                    <xs:element name="trainingStyle" type="tns:trainingStyleType"/>
                    <xs:element name="durationInMins" type="xs:integer"/>
                    <xs:element name="trainingCapacity" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="addTrainingRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:string"/>
                        <xs:element name="requestCode" type="xs:integer"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="nameOfTheTrainer" type="xs:string"/>
                        <xs:element name="trainingStyle" type="tns:trainingStyleType"/>
                        <xs:element name="durationInMins" type="xs:integer"/>
                        <xs:element name="trainingCapacity" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="addTrainingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="responseCode" type="xs:integer"/>
                        <xs:element name="training" type="tns:trainingType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
        </xs:schema>
    </wsdl:types>
